<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.spicejet.qa.reports.ExtentReporterNG" />
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.spicejet.qa.test.HomePageTest"/>
      <class name="com.spicejet.qa.test.TestBase"/>
      <class name="com.spicejet.qa.test.SpiceHolidayPageTest"/>
      <class name="com.spicejet.qa.base.PageBase"/>
      <class name="com.spicejet.qa.test.TaxiPageTest"/>
      <class name="com.spicejet.qa.test.LoginPageTest"/>
      <class name="com.spicejet.qa.test.CargoPageTest"/> 
      <class name="com.spicejet.qa.test.GiftCardPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
